@layer theme, base, mui, components, utilities;
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --maquiscolor: #1b5e20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: x-large;
}

h4 {
  font-size: large;
  margin: 1%;
}

ul{
  margin: 10%;
}

li{
  list-style-type: square;
  list-style-position: inside;
}

p{
  margin:0;
}

a{
  font-size: normal;
  color: #1b5e20;
}

.pluspetit{
  font-size: 60%;
}
